<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>508104193370-lj2dtk4170s5hshsnm0kjs54khpggfr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.508104193370-lj2dtk4170s5hshsnm0kjs54khpggfr4</string>
	<key>API_KEY</key>
	<string>AIzaSyBltkLYtXGFMHbu_6RSKAL7MHzPORfYf6g</string>
	<key>GCM_SENDER_ID</key>
	<string>508104193370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Jack.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-87e18</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-87e18.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:508104193370:ios:e4fd2a1b3bae1f34</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-87e18.firebaseio.com</string>
</dict>
</plist>